.gift {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    width: 7vw;
    height: 3vh;
    background-color: #8B0000;
}

.body {
    width: 6vw;
    height: 12vh;
    background-color: #8B0000;
}

.ribbon1 {
    position: absolute;
    width: 1.2vw;
    height: 15vh;
    background-color: #F39C12;
}

.ribbon2 {
    position: absolute;
    top: 7vh;
    width: 6vw;
    height: 1.2vw;
    background-color: #F39C12;
}